/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
.main {
  font-family: 'SohoStdCondensed', sans-serif;
  margin: 20px auto;
  width: 300px;
  height: 250px;
  background-color: #ec008a;
}
/* line 20, ../sass/screen.scss */
.main .logo {
  padding-top: 6px;
}
/* line 22, ../sass/screen.scss */
.main .logo img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
/* line 30, ../sass/screen.scss */
.main div.contenedor {
  position: relative;
}
/* line 32, ../sass/screen.scss */
.main div.contenedor span.start-day {
  display: block;
  position: absolute;
  color: #fff100;
  background-color: #22b24c;
  padding: 8px 5px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  top: -20px;
  left: 25px;
}
/* line 43, ../sass/screen.scss */
.main div.contenedor span.start-day:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 27px;
  width: 17px;
  height: 11px;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
}
/* line 55, ../sass/screen.scss */
.main div.contenedor div.countdown {
  width: 225px;
  height: 75px;
  background-color: #00aff1;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  text-align: center;
  padding-top: 22px;
  box-sizing: border-box;
}
/* line 68, ../sass/screen.scss */
.main div.contenedor div.countdown .items-time span.item {
  font-size: 37px;
  color: #fff100;
  margin-right: 10px;
}
/* line 73, ../sass/screen.scss */
.main div.contenedor div.countdown .items-time span.item:last-child {
  margin-right: 0;
}
/* line 79, ../sass/screen.scss */
.main div.contenedor div.countdown .items-description {
  position: relative;
  top: -4px;
}
/* line 82, ../sass/screen.scss */
.main div.contenedor div.countdown .items-description span.item {
  color: #ffffff;
  font-size: 11px;
  margin-right: 27px;
}
/* line 87, ../sass/screen.scss */
.main div.contenedor div.countdown .items-description span.item:last-child {
  margin-right: 0;
}
/* line 94, ../sass/screen.scss */
.main div.contenedor p {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
}
/* line 102, ../sass/screen.scss */
.main div.contenedor .form {
  padding: 0 10px;
}
/* line 105, ../sass/screen.scss */
.main div.contenedor .form form input {
  font-family: 'SohoStdCondensed',sans-serif;
}
/* line 107, ../sass/screen.scss */
.main div.contenedor .form form input[type="text"] {
  width: 165px;
  height: 28px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  float: left;
}
/* line 117, ../sass/screen.scss */
.main div.contenedor .form form input[type="submit"] {
  background-color: #fff100;
  border: 2px solid #ffffff;
  color: #ec008a;
  height: 27px;
  font-size: 16px;
  margin-left: 10px;
  padding: 0 15px;
}
/* line 131, ../sass/screen.scss */
.main div.contenedor .legals p {
  font-size: 7.5px;
  color: #ffffff;
}
/* line 134, ../sass/screen.scss */
.main div.contenedor .legals p a {
  color: #00aff1;
}

/* FONTS */
@font-face {
  font-family: 'SohoStdCondensed';
  src: url("../font/sohostd-condensed.eot");
  src: url("../font/sohostd-condensed.eot") format("embedded-opentype"), url("../font/sohostd-condensed.woff2") format("woff2"), url("../font/sohostd-condensed.woff") format("woff"), url("../font/sohostd-condensed.ttf") format("truetype"), url("../font/sohostd-condensed.svg#SohoStdCondensed") format("svg");
}
