#head{
	background-image: url(/images/background/fondo-hero.png);
	width: 100%;
	height: 900px;
	position: relative;
	margin-top: -1rem;
	margin-bottom: -31.25rem;
	@media screen and (max-width: $change) {
		height: 1200px;
		margin-bottom: -500px;
	}
	
	#logo{
		margin-top: 22px;
		//width: 199px;;
		width: 14%;
		margin-right: 43%;
		margin-left: 43%;
		min-width: 9.5rem;
  		min-height: 5.5rem;
  		@media screen and (max-width: $change) {
			margin-top: 6.25rem;
  		}
	}
	
	#nav-left {
		list-style-type: none;
		margin: 15px 0 0 0;
		padding: 0;
		width: 43%;
		position: absolute;
		left: 0;
		top: 43px;
		li {
			width: 15.5%;
			margin-left: 25%;
			float: left;
			text-align: center;
			@media screen and (max-width: $change) {
				display: none;
  			}
			a{
				display: block;
				padding: 0.5em 5px;
				text-decoration:none;
				figcaption{
				    font-family: AcuminPro;
				    font-size: 1.125em;
				    font-weight: normal;
				    color: #553408;
				}
			}
		}
	}

	#nav-right {
		list-style-type: none;
		margin: 15px 0 0 0;
		padding: 0;
		width: 43%;
		position: absolute;
		top: 43px;
		right: 0;
		li {
			width: 15.5%;
			margin-right: 25%;
			float: right;
			text-align: center;
			a{
				display: block;
				padding: 0.5em 5px;
				text-decoration:none;
				figcaption{
				    font-family: AcuminPro;
				    font-size: 1.125em;
				    font-weight: normal;
				    color: #553408;
				}
			}
		}

		#yogurt {
			@media screen and (max-width: $change) {
				display: none;
  			}
		}
	}

	
	/*
	.left{
		float: left;
	}
	
	.right{
		float: right;
	}
	
	#milk{
		margin-left: 209px;
	}
	
	#contact{
		margin-right: 209px;
	}

	.icon{
		margin-top: 46px;
		/*margin-left: 8.750em;
		float: left;
	}*/
		
	#title {
		position: relative;
		z-index: 2;
		width: 50%;
		height: 38.6575rem;
		margin: 0 auto;
		/*@media screen and (max-width: 822px) {
				margin-left: 20%;
				//margin-top: 4%;
		}
		@media screen and (max-width: $change) {
				margin-left: 4%;

		}*/
		.figura {
			//position: absolute;
			float: left;
			margin-top: 6%;
			width: 26.5%;
			min-width: 300px;
  			min-height: 580.7px;
  			@media screen and (max-width: $change) {
				position: relative;
				margin-left: -4.375rem;
			}
		}
		div {
			position: absolute;
			margin-top: 15rem;
			right: 7%;
			left: 17.1875rem;
			@media screen and (max-width: $change) {
				//margin-left: 4%;
				margin-top: 0;
				bottom: -200px;
				left: 0;
			}
			#first {
				  width: 290px;
				  //width: 290%;
				  font-family: AcuminPro;
				  font-size: 3.4375rem;
				  font-weight: bold;
				  line-height: 0.95;
				  color: $camo-green;
				  @media screen and (max-width: 1079px) {
					font-size: 3.0625rem;
				  }
			}
			#second {
				  width: 15.0625rem;
  				  font-family: Pacifico;
				  font-size: 4.6875rem;
				  font-weight: normal;
				  color: $dark-green-blue;
				  @media screen and (max-width: 1079px) {
					font-size: 4.18125rem;
				  }
			}
			#last {
				  width: 20.1875rem;
  				  font-family: AcuminPro;
				  font-size: 1.5625rem;
				  font-weight: bold;
				  line-height: 2.08;
				  color: $camo-green;
				  @media screen and (max-width: 1079px) {
					font-size: 1.39375rem;
				  }
			}
		}
	}
	//Hojas primera sección
	#topflow {
		position: absolute;
		top: 0;
		right: 0rem;
		width: 9%;
		min-width: 103px;
	 	min-height: 112px;
	 	
	 }
	
	#topsecflow {
		position: absolute;
		right: 0rem;
		//top: 8.75rem;
		top: 7.5rem;
		width: 14.7%;
		min-width: 5.3125rem;
		min-height: 6.4375rem;
		@media screen and (max-width: $change) {
			top: 4rem;
		}
	}
	
	.change-first {
		@media screen and (max-width: $change) {
	    	left: 0rem;
	    	-moz-transform: scaleX(-1);
			-o-transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
			-ms-filter: "FlipH";
			filter: FlipH;
	    }
	}

	#fill-1 {
		position: absolute;
		top: 25%;
		left: 20%;
		width: 1.300em;
		height: 2.281em;
		object-fit: contain;
	}

	#fill-2 {
		position: absolute;
		width: 3.5375rem;
	  	height: 6.3875rem;
	  	object-fit: contain;
	  	top: 35%;
	  	left: 12%;
	}

	#fill-3 {
		position: absolute;
		width: 4.15625rem;
		height: 3.8625rem;
		object-fit: contain;
		-webkit-transform: rotate(-20deg);
		transform: rotate(-20deg);
		top: 53%;
	  	left: 20%;
	  	@media screen and (max-width: $change) {
			display: none;
	  	}
	}

	#fill-4 {
		position: absolute;
		width: 1.70625rem;
	 	height: 2.5875rem;
	  	object-fit: contain;
	  	right: 42%;
	  	top: 30%;
	  	@media screen and (max-width: $change) {
			display: none;
	  	}
	}

	#fill-5 {
		position: absolute;
		width: 5.625rem;
		height: 4.8125rem;
		object-fit: contain;
		right: 15%;
	  	top: 16%;
	  	@media screen and (max-width: $change) {
			display: none;
	  	}
	}

	#fill-6{
		position: absolute;
		width: 5.9625rem;
	  	height: 5.53125rem;
	  	object-fit: contain;
	  	bottom: 0.3125rem;
	}

	#fill-7 {
		display: none;
		@media screen and (max-width: $change) {
			display: block;
			position: absolute;
			right: 0;
	  	}
	}

}



