#head{
	background-image: url(/images/background/fondo-hero.png);
	height: 56.25rem;
	margin-top: -1rem;
	margin-bottom: -31.25rem;
	position: relative;
	width: 100%;
	@media screen and (min-width: 143.75rem) {//Resoluci贸n 2300px
		height: 60.625rem;
  	}
	@media screen and (max-width: $change) {
		margin-bottom: -31.25rem;
		margin-top: -7.25rem;
		height: 75rem;
	}
	
	#fill-1 {
		height: 2.281em;
		left: 16%;
		position: absolute;
		object-fit: contain;
		top: 30%;
		width: 1.300em;
	}

	#fill-2 {
		height: 6.3875rem;
		position: absolute;
		left: 12%;
		object-fit: contain;
		top: 35%;
		width: 3.5375rem;
	  	@media screen and (max-width: $change) {
			top: 12.5rem;
	  	}
	}

	#fill-3 {
		left: 20%;
		height: 3.8625rem;
		position: absolute;
		object-fit: contain;
		top: 53%;
		transform: rotate(-20deg);
		width: 4.15625rem;
		-webkit-transform: rotate(-20deg);
	  	@media screen and (max-width: $change) {
			display: none;
	  	}
	}

	#fill-4 {
		position: absolute;
		width: 1.70625rem;
	 	height: 2.5875rem;
	  	object-fit: contain;
	  	right: 42%;
	  	top: 30%;
	  	@media screen and (max-width: $change) {
			display: none;
	  	}
	}

	#fill-5 {
		position: absolute;
		width: 5.625rem;
		height: 4.8125rem;
		object-fit: contain;
		right: 15%;
	  	top: 16%;
	  	@media screen and (max-width: $change) {
			display: none;
	  	}
	}

	#fill-6{
		position: absolute;
		width: 3.55375rem;
	  	height: auto;
	  	object-fit: contain;
	  	bottom: 2.6875rem;
	  	right: -3.6875rem;
	  	@media screen and (max-width: 67.4375rem) {
			right: 0;
			bottom: 3.125rem;
			width: 2.875rem;
	  	}
	  	@media screen and (max-width: $change) {
			right: -9.375rem;
	  	}
	  	@media screen and (max-width: 30.375rem) {
			right: -1.875rem;
			bottom: 5.9375rem;
	  	}
	  	@media screen and (max-width: 21.125rem) {
			right: -1.875rem;
	  	}
	 }

	#fill-7 {
		display: none;
		@media screen and (max-width: $change) {
			display: block;
			position: absolute;
			top: 13.75rem;
			right: 0;
	  	}
	}

	#logo{
		position: relative;
		display: block;
		width: 14%;
		margin: 0 auto;
		padding-top: 1.375rem;
		min-width: 9.5rem;
  		min-height: 5.5rem;
  		@media screen and (max-width: $change) {
			margin-top: 6.25rem;
			padding-top: 4.375rem;
  		}
	}
	
	#nav-left {
		list-style-type: none;
		margin: 0.9375rem 0 0 0;
		padding: 0;
		width: 43%;
		position: absolute;
		left: 0;
		top: 2.6875rem;
		li {
			width: 5.31062rem;
			margin-left: 25%;
			float: left;
			text-align: center;
			@media screen and (max-width: 50.3125rem) {
				margin-left: 15%;
			}
			@media screen and (max-width: $change) {
				display: none;
  			}
			a{
				display: block;
				padding: 0.5em 0.3125rem;
				text-decoration:none;
				figcaption{
				    font-family: AcuminPro, Sans-serif;
				    font-size: 1.125em;
				    font-weight: normal;
				    color: #553408;
				}
			}
		}
	}

	#nav-right {
		list-style-type: none;
		margin: 0.9375rem 0 0 0;
		padding: 0;
		width: 43%;
		position: absolute;
		top: 2.6875rem;
		right: 0;
		@media screen and (max-width: $change) {
			top: 0;
		}
		li {
			width: 5.31062rem;
			margin-right: 25%;
			float: right;
			text-align: center;
			a{
				display: block;
				padding: 0.5em 0.3125rem;
				text-decoration:none;
				figcaption{
				    font-family: AcuminPro, Sans-serif;
				    font-size: 1.125em;
				    font-weight: normal;
				    color: #553408;
				}
			}
			@media screen and (max-width: 50.3125rem) {
				margin-right: 15%;
			}
			@media screen and (max-width: $change) {
				margin-right: 10%;
			}
		}

		#yogurt {
			@media screen and (max-width: $change) {
				display: none;
  			}
		}
	}

	#title {
		position: relative;
		z-index: 2;
		width: 50%;
		height: 38.6575rem;
		margin: 0;
		margin-left: 28%;
		margin-right: 30%;
		@media screen and (max-width: 57.0625rem) {
			margin: 0 auto;
		}
		@media screen and (min-width: 90rem) {
			margin: 0;
			margin-left: 32%;
			margin-right: 18%;
		}
		@media screen and (min-width: 112.5rem) {
			margin-left: 35%;
			margin-right: 15%;
		}
		@media screen and (min-width: 137.5rem) {
			margin-left: 38%;
			margin-right: 12%;
		}
		.figura {
			float: left;
			margin-top: 2.5rem;
			width: 26.5%;
			min-width: 18.75rem;
  			@media screen and (max-width: $change) {
				position: relative;
				margin-left: -2.5rem;
			}
			@media screen and (max-width: 37.6875rem) {
				margin-left: -4.375rem;
			}
			@media screen and (max-width: 32.125rem) {
				margin-left: -7.5rem;
			}
		}
		div {
			width: 25rem;
			position: absolute;
			margin-top: 15rem;
			right: 7%;
			left: 17.2125rem;
			@media screen and (min-width: 150rem) {//Resoluci贸n 2400px
				left: 18.75rem;
  			}
			@media screen and (max-width: $change) {
				width: 16.375rem;
				margin-top: 0;
				bottom: -9.375rem;
				left: 10%;
			}
			@media screen and (max-width: 37.6875rem) {
				left: -3.75rem;
			}
			#first {
				  width: 17.6875rem;
				  //width: 290%;
				  font-family: AcuminPro, Sans-serif;
				  font-size: 3.25rem;
				  font-weight: bold;
				  line-height: 0.95;
				  color: $camo-green;
				  @media screen and (max-width: 67.4375rem) {
					width: 16.375rem;
					font-size: 3.0625rem;
				  }
				  @media screen and (max-width: 30.375rem) {
					font-size: 2.75rem;
				  }
				  @media screen and (max-width: 21.125rem) {
					
				  }
			}
			#second {
				  width: 25rem;
  				  font-family: Pacifico;
				  font-size: 4.6875rem;
				  font-weight: normal;
				  color: $dark-green-blue;
				  @media screen and (max-width: 67.4375rem) {
					font-size: 4.18125rem;
				  }
				  @media screen and (max-width: 30.375rem) {
					width: auto;
					font-size: 3.36875rem;
				  }
				  @media screen and (max-width: 21.125rem) {
					font-size: 3.125rem;
				  }
			}
			#last {
				  width: 21.25rem;
  				  font-family: AcuminPro, Sans-serif;
				  font-size: 1.375rem;
				  font-weight: bold;
				  line-height: 2.08;
				  color: $camo-green;
				  @media screen and (max-width: 67.4375rem) {
					font-size: 1.39375rem;
					width: 21.625rem;
				  }
				  @media screen and (max-width: 30.375rem) {
					width: 18.125rem;
					font-size: 1.18125rem;
				  }
				  @media screen and (max-width: 21.125rem) {

				  }
			}
		}
	}
	
	#topflow {
		position: absolute;
		top: 0;
		right: 0rem;
		width: 9%;
		min-width: 6.4375rem;
		@media screen and (min-width: 80rem) {//Resoluci贸n 1280px
            width: 9.375rem;
        }
	 }
	
	#topsecflow {
		position: absolute;
		right: 0rem;
		top: 7.5rem;
		width: 14.7%;
		min-width: 5.3125rem;
		z-index: 1;
		@media screen and (min-width: 80rem) {//Resoluci贸n 1280px
            top: 9.375rem;
            width: 10rem;
        }
		@media screen and (max-width: $change) {
			top: 4rem;
		}
	}
	
	.change-first {
		@media screen and (max-width: $change) {
	    	left: 0rem;
	    	-moz-transform: scaleX(-1);
			-o-transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
			-ms-filter: "FlipH";
			filter: FlipH;
	    }
	}
}



