header{
	width: 1366px;
	  height: 1262px;
	  object-fit: contain;
	  background-image: radial-gradient(circle at 50% 50%, $white, $macaroni-and-cheese);
#menu {
	  text-align:center;
	  
	.icon{
		margin-top: 2.688em;
	}

	.logo{
	  	display: block;
    	margin: 0 auto;
	  	width: 199px;
  		height: 115px;
  		padding-top: 1.375em;
 	}

 	a{
 		border-style: dotted;
 		text-decoration:none;
 		figure {
 		figcaption{
		  
		  font-family: AcuminPro;
		  font-size: 18px;
		  font-weight: normal;
		  color: #553408;
		  }
		  }
	}

}

	.left {
		float: left;
		margin-left: 10.000em;
	}
	.right {
		float: right;
		margin-right: 11.700em;
	}
}
.figura {
	position: absolute;
    //left: 346px;
    right: 470px;
    top: 130px;
    left: 19em;
   	width: 430px;
	height: 627px;
	margin-top: 2.938em;
}
div {
	position: absolute;
    right: 300px;
    top: 400px;
}

body {
	div{
		#first {
	  width: 290px;
	  height: 104px;
	  font-family: AcuminPro;
	  font-size: 55px;
	  font-weight: bold;
	  line-height: 0.95;
	  color: $camo-green;
	}
	#second {
		  width: 241px;
		  
		  font-family: Pacifico;
		  font-size: 75px;
		  font-weight: normal;
		  color: $dark-green-blue;
	}
	#last {
		  
		  font-family: AcuminPro;
		  font-size: 25px;
		  font-weight: bold;
		  line-height: 2.08;
		  color: $camo-green;
	}
	}
}

