#milksection {
	
	border: 0;
	margin: 0;
	width: 100%;
    height: 62.5rem;
    background-image: url(/images/background/fondo-leche@2x.png);
    background-repeat: no-repeat;
	position: relative;
	margin-bottom: -9%;
	background-size: 100% 100%;
	@media screen and (min-width: 112.5rem) {//Resolución 1800px
		height: 68.75rem;
	}
	@media screen and (min-width: 118.75rem) {//Resolución 1900px
		height: 80rem;
	}
	@media screen and (max-width: 69.4375rem) {
		background-image: url(/images/background/fondo-veige-prodcutos-naturales-movil.png);
		margin-bottom: -12.5rem;
		background-size: 100% 100%;
	}
	@media screen and (max-width: 50.9375rem) {
		height: 75rem;
		margin-bottom: -12.5rem;
	}
	@media screen and (max-width: 48.9375rem) {
		margin-bottom: -9.375rem;
	}
	@media screen and (max-width: 38.4375rem) {
		height: 118.75rem;
	}
	@media screen and (max-width: 30.8125rem) {
		height: 122.188rem;
	}
	#lef-land {
		width: 26.5%;
  		height: auto;
		margin-top: -18.75rem;
		@include animation-duration(3s);
		@media screen and (min-width: 125rem) {//Resolución 1280px
            width: 24.125rem;
        }
		@media screen and (max-width: 69.4375rem) {
		-webkit-transition: width 1s, height 1s, margin-top 1s; // For Safari 3.1 to 
			
	  		margin-top: 1.25rem;
		}
	}

	#milk {
		position: absolute;
		z-index: 2;
		width: 53.3%;
		right: 0;
		top: 2.5rem;
		min-width: 20.3562rem;
		@media screen and (min-width: 90rem) {
			width: 42.8399rem;
		}
  		@media screen and (max-width: 69.4375rem) {
			top: 0.625rem;
  		}
		@media screen and (max-width: $change) {
			-webkit-transition: position 1s; // For Safari 3.1 to 
			position: relative;
			width: 20.3562rem;
  			float: right;
			top: 1.875rem;
		}

	}
	h1 {
		
		margin-top: -1.25rem;
		margin-left: 15%;
		margin-bottom: -1.875rem;
		width: 25.25rem;
	    height: 8.375rem;
	    font-family: Pacifico;
	    font-size: 4.5rem;
	    font-weight: normal;
	    text-align: center;
	    color: $dark-green-blue;
		
		@media screen and (min-width: 87.5rem) { //1400px
			margin-top:-4.375rem;
		}
		@media screen and (min-width: 93.75rem) { //1500px
			margin-top:-7.5rem;
		}
		@media screen and (min-width: 106.125rem) {//Resolución 1700px
			margin-top: -14.375rem;
			margin-left: 20%;
		}
		
		@media screen and (min-width: 118.75rem) {//Resolución 1900px
			margin-top: -12.5rem;
		}
		@media screen and (min-width: 124.375rem) {//Resolución 1990px
			margin-top: 0;
			margin-left: 26%;
		}
		@media screen and (min-width: 137.5rem) {//Resolución 2200px
			margin-top: -3.125rem;
			margin-left: 30%;
  		}
  		@media screen and (min-width: 150rem) {//Resolución 2400px
			margin-top: -3.75rem;
  		}
		@media screen and (max-width: 69.4375rem) {
			-webkit-transition: width 1s, height 1s, margin-top 1s; // For Safari 3.1 to 
			width: 18rem;
  			height: 8.625rem;
  			margin-top: -20rem;
  		}

		@media screen and (max-width: $change) {
	    	margin: 0 auto;
	    	margin-top: -18.75rem;
	    }
		
		@media screen and (max-width: 50.9375rem) {
			margin-top: -15.625rem;
		}
		@media screen and (max-width: 45.25rem) {
			margin-top: -11.875rem;
		}
		@media screen and (max-width: 36.25rem) {
			margin-top: -9.375rem;
		}
		@media screen and (max-width: 30.8125rem) {
			margin-top: -5.625rem;
		}
		@media screen and (max-width: 22.3125rem) {
			margin-top: -3.125rem;
		}
	}
	#text {
		
		margin-left: 15%;
		width: 30rem;
		height: 21.5188rem;
		font-family: AcuminPro, Sans-serif;
		font-size: 1.25rem;
		font-weight: normal;
		line-height: 1.32;
		color: $mud-brown;

		@media screen and (min-width: 106.125rem) {//Resolución 1700px
			margin-left: 20%;
		}
		@media screen and (min-width: 124.375rem) { //1990px
			margin-left: 26%;
		}
		@media screen and (min-width: 137.5rem) {//Resolución 2200px
			
			margin-left: 30%;
  		}
		@media screen and (max-width: 73.25rem) {
			//margin-top: 3.125rem;
			position: absolute;
			width: 24.375rem;
  			//height: 37.5187rem;
  			margin-left: 15%;
		}
		@media screen and (max-width: 69.4375rem) {
			margin-top: 3.75rem;
  		}
		@media screen and (max-width: $change) {
			-webkit-transition: width 1s, position 1s, margin-left 1s; // For Safari 3.1 to 
			position: absolute;
			top: 13.75rem;
  			margin-left: 17%;
		}
		@media screen and (max-width: 50.9375rem) {
			top: 15rem;
			margin-left: 7%;
		}
		@media screen and (max-width: 45.8125rem) {
			width: 18rem;
			
		}
		@media screen and (max-width: 38.4375rem) {
			position: relative;
			p {
				position: absolute;
			}
			margin: 0 auto;
			margin-top: 20rem;
		}	
	}
	
	#left-milk{
		z-index: 2;
		position: absolute;
		left: 0;
		width: 13.7%;
		bottom: 0rem;
		min-width: 7.24375rem;
		@include animation-duration(4s);
  		@media screen and (min-width: 80rem) {
			width: 10.96rem;
  		}

  		@media screen and (max-width: 48.75rem) {
			bottom: 1.25rem;
  		}
  		
	}
	
	#deslac {
		position: absolute;
		bottom: 18%;
		right: 38%;
		width: 21.3%;
		min-width: 13.0875rem;
		z-index: 2;

		@media screen and (min-width: 64rem) {
			width: 17rem;
		}
		@media screen and (min-width: 124.375rem) {
			right: 36%;
		}
		@media screen and (min-width: 137.5rem) {//Resolución 2200px
			bottom: 28%;
  		}
		@media screen and (max-width: 69.4375rem) {
			bottom: 12.5rem;
			left: 36%;
		}
		
		@media screen and (max-width: $change) {
			bottom: 15.625rem;
			left: 45%;
		}

		@media screen and (max-width: 38.4375rem) {
			z-index: 2;
			bottom: 12.5rem;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
	}

	#bottle-1000 {
		position: absolute;
		bottom: 8%;
		left: 30%;
		width: 6.38%;
		min-width: 4.35625rem;
  		
  		@media screen and (min-width: 64rem) {
			width: 5.09375rem;
		}
		@media screen and (min-width: 93.75rem) {
			bottom: 10%;
		}
  		@media screen and (min-width: 106.125rem) { //Resolución 1700px
			width: 7.251rem;
			bottom: 11%;
  		}
  		@media screen and (min-width: 118.75rem) {//Resolución 1900px
			bottom: 13%;
  		}
  		@media screen and (min-width: 124.375rem) {
			left: 36%;
  		}
  		@media screen and (min-width: 137.5rem) {//Resolución 2200px
			bottom: 18%;
  		}
  		@media screen and (min-width: 137.5rem) {//Resolución 2200px
			left: 40%;
  		}
		@media screen and (max-width: 69.4375rem) {
			bottom: 10.625rem;
			left: 27%;
		}

		@media screen and (max-width: $change) {
			bottom: 12.5rem;
		}
		
		@media screen and (max-width: 45.8125rem) {
			bottom: 9.375rem;
		}
		
		@media screen and (max-width: 38.4375rem) {
			bottom: 22.5rem;
			left: 0;
			margin-left: 50%;
			margin-right: 35%; 
		}
	}
	#bottle-2000 {
		position: absolute;
		left: 20%;
		bottom: 8%;
		width: 6.83%;
		min-width: 5.31875rem;
  		
  		@media screen and (min-width: 64rem) {
			width: 5.46875rem;
		}
		@media screen and (min-width: 93.75rem) {
			bottom: 10%;
		}
  		@media screen and (min-width: 106.125rem) { //Resolución 1700px
			width: 7.25194rem;
			bottom: 11%;
  		}
  		@media screen and (min-width: 118.75rem) {//Resolución 1900px
			bottom: 13%;
  		}
  		@media screen and (min-width: 124.375rem) {
			left: 28%;
  		}
  		@media screen and (min-width: 137.5rem) {//Resolución 2200px
			bottom: 18%;
  		}
  		@media screen and (min-width: 137.5rem) {//Resolución 2200px
			left: 32%;
  		}
		@media screen and (max-width: 69.4375rem) {
			bottom: 10.625rem;
			left: 15%;
		}

		@media screen and (max-width: $change) {
			bottom: 12.5rem;
		}

		@media screen and (max-width: 45.8125rem) {
			bottom: 9.375rem;
		}

		@media screen and (max-width: 38.4375rem) {
			bottom: 22.5rem;
			left: 0;
			margin-left: 27%;
			margin-right: 55%; 
		}
	}
	#fill-10 {
		position: absolute;
		bottom: 38%;
		right: 50%;
		@include animation-duration(2.5s);
		@media screen and (max-width: 41.25rem) {
			display: none;
		}
	}
	#fill-11{
		position: absolute;
		left: 5%;
		bottom: 45%;
		@include animation-duration(2s);
		@media screen and (max-width: 50.9375rem) {
			display: none;
		}		
	}
	#fill-12{
		position: absolute;
		right: 0;
		top: 25%;
		@include animation-duration(3s);
		@media screen and (max-width: 41.25rem) {
			display: none;
		}
	}
}