#sec3 {
	//z-index: 2;
	border: 0;
	margin: 0;
	width: 100%;
    height: 1200px;
    background-image: url(/images/background/fondo-leche@2x.png);
    background-repeat: no-repeat;
	position: relative;
	margin-bottom: -9%;
	background-size: cover;
	/*border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
  	height: 700px;
  	background-image: url(/images/background/fondo-leche@3x.png);
    background-repeat: no-repeat;*/
	@media screen and (max-width: $change) {
		height: 162.5rem;
	}
    #lef-land {
	//position: absolute;
		width: 26.5%;
  		height: 49%;
		margin-top: 0.25rem;
		@media screen and (max-width: $change) {
		-webkit-transition: width 1s, height 1s, margin-top 1s; // For Safari 3.1 to 
			width: 180px;
	  		height: 300px;
	  		margin-top: 200px;
	}
	}

	#milk {
		//float: right;
		position: absolute;
		z-index: 2;
		//width: 47.6%;
		width: 47.6%;
		height: 1060px;
		right: 0;
		top: 200px;
		min-width: 20.3562rem;
  		min-height: 43.5625rem;
		@media screen and (max-width: $change) {
			-webkit-transition: position 1s; // For Safari 3.1 to 
			position: relative;
			//z-index: auto; 
			width: 325.7px;
  			height: 697px;
			float: right;
			top: 0px;
		}

		/*
		@media screen and (max-width: 1017px) {
			-webkit-transition: width 1s; // For Safari 3.1 to 
			width: 40%;
		}*/
	}
	h1 {
		
		margin-top: -200px;
		margin-left: 18%;
		margin-bottom: -1.875rem;
		width: 25.25rem;
	    height: 8.375rem;
	    font-family: Pacifico;
	    font-size: 4.5rem;
	    font-weight: normal;
	    text-align: center;
	    color: $dark-green-blue;
		
		@media screen and (max-width: 1111px) {
			-webkit-transition: width 1s, height 1s, margin-top 1s; // For Safari 3.1 to 
			width: 288px;
  			height: 138px;
  			margin-top: -220px;
  		}

		@media screen and (max-width: $change) {
	    	margin: 0 auto;
	    	margin-top: -100px;
	    	margin-bottom: 0;
  		}
	}
	#text {
		
		margin-left: 18%;
		width: 30rem;
		height: 21.5188rem;
		font-family: AcuminPro;
		font-size: 1.375rem;
		font-weight: normal;
		line-height: 1.32;
		color: $mud-brown;
		@media screen and (max-width: 1111px) {
			margin-top: 3.125rem;
			position: absolute;
			width: 16.25rem;
  			height: 600.299px;
  			margin-left: 22%;
		}
		
		@media screen and (max-width: $change) {
			-webkit-transition: width 1s, position 1s, margin-left 1s; // For Safari 3.1 to 
			position: absolute;
			top: 32.5rem;
  			margin-left: 5%;
		}
		@media screen and (max-width: 589px) {
			position: relative;
			p {
				position: absolute;
			}
			margin: 0 auto;
			margin-top: 13.75rem;
		}
	}
	#deslac {
		position: absolute;
		bottom: 18%;
		right: 34%;
	}
	#left-milk{
		z-index: 2;
		position: absolute;
		left: 0;
		width: 13.7%;
		bottom: 0px;
	}
	#bottle-1000 {
		position: absolute;
		bottom: 8%;
		left: 30%;
	}
	#bottle-2000 {
		position: absolute;
		left: 20%;
		bottom: 8%;
	}
	#fill-10 {
		position: absolute;
		bottom: 15%;
		right: 42%;
	}
	#fill-11{
		position: absolute;
		left: 5%;
		bottom: 45%;		
	}
	#fill-12{
		position: absolute;
		right: 0;
		top: 25%;
	}
}