#sec6 {
	position: relative;
	width: 100%;
	height: auto;
	object-fit: contain;
	background-image: url(/images/background/fondo-yogurt-maracuy.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: -26%;
	@media screen and (min-width: 100rem) {
    height: 98.125rem;
  }
  @media screen and (max-width: 124.688rem) {
    margin-bottom: -28%;
  }
  @media screen and (min-width: 128.125rem) {
    height: 103.75rem;
  }
  @media screen and (min-width: 143.75rem) {
    height: 106.25rem;
    margin-bottom: -24%;
  }
  @media screen and (max-width: 76.6875rem) {
    height: 112.5rem;
    margin-bottom: -22%;
  }
  @media screen and (max-width: 75rem) {
    margin-bottom: -24%;
  }
  @media screen and (max-width: 68.75rem) {
    margin-bottom: -26%;
  } 
  @media screen and (max-width: $change-sec5) {
    background-image: url(/images/background/fondo-yogurt-maracuy-movil.png);
    height: 181.25rem;
  }
  @media screen and (max-width: 58rem) {
    height: 175rem;
  }
  @media screen and (max-width: 41.25rem) {
      height: 152.5rem;
      margin-bottom: -30%;
  }
  p {
        //margin-top: 20%;
        //margin-left:  35%;
        display: none;
        position: relative;
        margin: 0 auto;
        padding-top: 15.625rem;
        width: 35rem;
        height: 14.5rem;
        font-family: AcuminPro;
        font-size: 1.375rem;
        font-weight: normal;
        line-height: 1.32;
        color: #4d2b24;
        
        @media screen and (max-width: $change-sec5) {
          display: block;
        }

        @media screen and (max-width: 49.5625rem) {
          padding-top: 12.5rem;
        }
        
        @media screen and (max-width: 41.25rem) {
          width: 17.9375rem;
          height: 25rem;
        }     
    }
    
    #bottles {
        //position: relative;
        display: none;
        width: 25rem;
        height: 20.25rem;
        margin: 0 auto;
        margin-top: 5rem;
        img {
          float: left;
          margin-left: 1.25rem;
          vertical-align: bottom;
        }

        #bottle-1000 {
          margin-top: 4.6875rem;
        }
        
        #small-bottle {
          margin-top: 10.3125rem;
          @media screen and (max-width: 34.25rem) {
            margin-left: 3.4375rem;
            margin-top: 1.875rem;
          }
        }
        
        #little-bottle {
          margin-top: 13.5625rem;
          @media screen and (max-width: 34.25rem) {
            margin-top: 5.125rem;
            margin-left: 1.875rem;
          }
        }
        @media screen and (max-width: $change-sec5) {
          display: block;
        }
        @media screen and (max-width: 34.25rem) {
          width: 14.1875rem;
          height: 30.1875rem;
        }
    }

    #vector-desc {
      
      display: none;
      width: 26.4%;
      min-width: 16.9375rem;
      height: auto;
      margin: 0 auto;
      padding-top: 4.375rem;
      @media screen and (max-width: $change-sec5) {
          display: block;
      }
    }

  	img {
  		margin: 0;
  		display: block;
  		position: relative;
  	}

  	#yogurt-gulupa {
  		margin-top: 12%;
      margin-right: 10%;
  		float: right;
  		width: 33.8125rem;
      @media screen and (min-width: 103.125rem) {
        margin-top: 5%;
        margin-right: 15%;
      }
      @media screen and (min-width: 125rem) {
        margin-right: 20%;
      }
      @media screen and (max-width: $change-sec5) {
          margin-top: 3.75rem;
      }
      @media screen and (max-width: 41.25rem) {
        float: none;
        //content: url(/images/background/yogurt-gulupa-movil.png);
        width: 21.25rem;
        margin: 0 auto;
        margin-top: 2.5rem;
      }

      @media screen and (max-width: 22.9375rem) {
          width: 18.75rem;
      }
      
  	}
  	#yogurt-mora {
  		z-index: 1;
  		padding-top: 26%;
  		margin-left: 7%;
  		width: 34.375rem;
      margin-bottom: -5%;
      @media screen and (min-width: 103.125rem) {
        padding-top: 20%;
      }

      @media screen and (max-width: $change-sec5) {
        padding-top: 0.625rem;
      }
      
      @media screen and (max-width: 76.6875rem) {
        margin-right: 10%;
        margin-left: 0;
        padding-top: 0rem;
        margin-bottom: 0;
      }
      
      @media screen and (max-width: 41.25rem) {
          //content: url(/images/background/yogurt-mora-movil.png);
          float: none;
          width: 21.25rem;
          margin: 0 auto;
          margin-top: 3rem;
      }
      @media screen and (max-width: 22.9375rem) {
          width: 18.75rem;
      }
  	}
  	#yogurt-maracuy {
  		z-index: 1;
  		position: relative;
  		width: 35.0625rem;
      margin-left: 35%;
  		margin-right: 19.4%;
      @media screen and (max-width: 76.6875rem) {
          margin: 0 auto;
          float: right;
          margin-right: 6.25rem;
          margin-top: 3.5625rem;
      }
      
      @media screen and (max-width: 41.25rem) {
        //content: url(/images/background/yogurt-maracuy-movil.png);
        width: 21.25rem;
        float: none;
        margin: 0 auto;
        margin-top: 3rem;
      }
      @media screen and (max-width: 22.9375rem) {
          width: 18.75rem;
      }
	}
}