#sec5 {
	position: relative;
	width: 100%;
  	height: 1089.5px;
  	object-fit: contain;
  	background-image: radial-gradient(circle at 50% 0, $purplish-grey, $dirty-purple);
  	background-repeat: no-repeat;

  	#fill-13 {
		float: right;
		margin-top: 16%;
  	}

  	#fill-14 {
		float: left;
		margin-top: 11%;
  	}

  	#yogures {
      z-index: 1;
  		width: 69%;
  		position: absolute;
  		left: 0;
  		margin-top: 22%;
  	}
	
  	h1 {
  		margin-left: 34%;
  		margin-right: 32%;
  		margin-top: 12%;
  		position: absolute;
  		min-width: 34%;
	    //height: 119px;
	    font-family: Pacifico;
		font-size: 64px;
		font-weight: normal;
		text-align: center;
		color: $beige-three;
  	}
  	p {
  		  margin-top: 20%;
  		  margin-left:  35%;
  		  position: absolute;
  		  width: 560px;
		  height: 232px;
		  font-family: AcuminPro;
		  font-size: 22px;
		  font-weight: normal;
		  line-height: 1.32;
		  color: $beige-two;
  	}

  	#vector-desc {
		position: absolute;
		bottom: 38%;
		right: 10%;
		width: 22.8%;
  	}

  	#fill-15 {
		position: absolute;
		bottom: 32%;
		right: 28%;
		width: 3.7%;
  	}
  	#bottles {
  		position: absolute;
      z-index: 1;
  		width: 191px + 124px;
  		height: 300px;
  		right: 2%;
  		bottom: -4%;
  		#big {
			float: left;
			#bottle-1800{
				width: 50%;
			}
  		}

  		#small {
			float: right;
			margin-top: 51.2%;
  		}
  	}	
}