#sec8 {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 1850px;
	margin-bottom: -10rem;
	object-fit: contain;
	background-image: url(/images/background/fondo-veige-contacto.png);
  	background-repeat: no-repeat;
	background-size: 100% 100%;
	@media screen and (min-width: 81.25rem) { // Resolución 1300px
		height: 117.5rem;		
    }
    @media screen and (min-width: 87.5rem) { // Resolución 1400px
		height: 118.75rem;
    }
	@media screen and (min-width: 103.125rem) { //1650px
        height: 118.75rem;
    }
    @media screen and (min-width: 115.625rem) { //1850px
        height: 121.875rem;
    }
    @media screen and (min-width: 134.375rem) { //2150 px
        height: 125rem;
    }
    @media screen and (min-width: 153.125rem) { //2450 px
        height: 128.125rem;
    }
    @media screen and (max-width: 68.3125rem) {//1093px
		height: 118.125rem;
	}
	@media screen and (max-width: $change) {
		background-image: url(/images/background/fondo-veige-contacto-movil.png);
		height: 120.625rem;
		background-size: 100% 90%; 
		background-position: 100% 100%;
	}
	@media screen and (max-width: 54.875rem) {
		height: 117.5rem;
	}
	@media screen and (max-width: 49.3125rem) {
		height: 115.625rem;
	}
	@media screen and (max-width: 37.5rem) {
		height: 115.625rem;
	}
	@media screen and (max-width: 30.625rem) {
		height: 115rem;
	}
	@media screen and (max-width: 28.125rem) {
		height: 118.75rem;
	}
	@media screen and (max-width: 22.3125rem) {
		height: 120rem;
	}
	#contact {
		width: 100%;
		background-image: url(/images/background/mancha-contacto.png);
		background-size: 100% 100%;
		@media screen and (max-width: $change) {
			background-size: auto 70%;
			background-position: 0% 40%;
			background-repeat: no-repeat;
		}
		@media screen and (max-width: 41.25rem) {
			background-image: url(/images/background/mancha-contacto-movil.png);
			background-size: 100% 80%;
			background-repeat: no-repeat;
		}
		@media screen and (max-width: 24.375rem) {
			background-size: 100% 70%;
			background-position: 100% 27%;
		}
		#img-somb {
			position: relative;
			min-width: 18.1875rem;
	  		//position: absolute;
	  		width: 46.51%;
			//top: 0;
			margin: 0 auto;
			padding-top: 16%;
			@media screen and (max-width: 55.0625rem) {
				margin-top: -70%;
			}		
			div {
				position: relative;
				text-align: center;
				img {
					@media screen and (max-width: $change) {
						width: 12.8313rem;
		 				height: 5.99375rem;
		 				margin-top: 6.25rem;
					}
				}
		}
				
		.intro {
			margin-top: 3.125rem;
	  		text-align: center;
	  		min-width: 18.1875rem;
	  	}

		h1 {
			width: 100%;
			font-family: Pacifico;
			font-size: 4rem;
			font-weight: normal;
			text-align: center;
			color: $camo-green;
		}

		p {
			width: 100%;
			font-family: AcuminPro, Sans-serif;
			font-size: 1.2375rem;
			font-weight: normal;
			line-height: 1.32;
			text-align: center;
			color: $mud-brown;
		}
  		}
	  		
	}
	
  	#right-flow {
  		position: absolute;
  		right: 0;
  		top: 22%;
  		@media screen and (max-width: 39.375rem) {
			display: none;
  		}
  	}
	
	#left-flow {
		position: absolute;
		margin-top: 24%;
		@media screen and (max-width: 39.375rem) {
			display: none;
  		}
	}
	
	#left-flow-1 {
		position: absolute;
		margin-top: 5%;
		@media screen and (max-width: 39.375rem) {
			display: none;
  		}
	}

  	#contact-form {
  		position: relative;
  		width:  50%;
  		height: auto;
  		margin: 0 auto;
  		margin-top: 1.875rem;
		form {
			li {
				padding: 0.625rem;
			    border-bottom: solid 0.0625rem $camo-green;
			    position:relative;
			}

			ul {
				width: 100%;
			    //list-style-type:none;
			    //list-style-position:outside;
			    margin: 0rem;
			    padding:0rem;
			}

			label {
				width: 2.25rem;
				padding-bottom: 0.5625rem;
			    padding-right: 0.625rem;
			    display:inline-block;
			    float:left;
			    img {
			    	//width: 100%;
			    	display: block;
			    	margin: 0 auto;
			    }
			}
			
			#{$all-text-inputs} {
				@include placeholder {
				    font-family: AcuminPro, Sans-serif;
					font-size: 1.1875rem;
					font-weight: normal;
					line-height: 1.32;
					color: $mud-brown;
					@media screen and (max-width: 27.6875rem) {
						font-size: 1.0625rem;
					}
				}
			}			
			
			#{$all-text-inputs-focus},
			#{$all-text-inputs-hover} {
			  	border: none;
    			border-color: transparent;
			}
			
			input[type=number]::-webkit-inner-spin-button, 
			input[type=number]::-webkit-outer-spin-button { 
				-webkit-appearance: none; 
				margin: 0; 
			}

			input[type=number] {
			    -moz-appearance:textfield;
			}
			input[type=number]:placeholder {
				font-family: AcuminPro, Sans-serif;
				font-size: 1.1875rem;
				font-weight: normal;
				line-height: 1.32;
				color: $mud-brown;
				@media screen and (max-width: 27.6875rem) {
					font-size: 1.0625rem;
				}
			}
			input {
				font-family: AcuminPro, Sans-serif;
				font-size: 1.1875rem;
				font-weight: normal;
				line-height: 1.32;
				color: $mud-brown;
				background: transparent;
			    border: none;
				height: 1.25rem; 
			    width: 84.1%; 
			    padding: 0.3125rem 0.5rem;
			    @media screen and (max-width: 52.125rem) {
					width: 70%; 
			    }
			    @media screen and (max-width: 29.375rem) {
					width: 50%; 
			    }
				@media screen and (max-width: 27.6875rem) {
					font-size: 1.0625rem;
				}
			}

			textarea {
				margin-left: 0.4375rem;
				width: 84.1%; 
				height: 12.5rem;
				overflow: auto;
				background: transparent;
			    border: none;
			    font-family: AcuminPro, Sans-serif;
				font-size: 1.1875rem;
				font-weight: normal;
				line-height: 1.32;
				color: $mud-brown;
				@media screen and (max-width: 52.125rem) {
					width: 70%; 
			    }
			    @media screen and (max-width: 29.375rem) {
					width: 50%; 
			    }
			    @media screen and (max-width: 27.6875rem) {
					font-size: 1.0625rem;
				}

			}
			
			#btn {
				position: relative;
				color: #553408;
				float: right;
				width: 9.375rem;
			    height: 2.5625rem;
			    font-family: AcuminPro, Sans-serif;
				font-size: 1.21875rem;
				font-weight: normal;
				line-height: 1.32;
				text-align: center;
				background-color: $beige-three;
				margin-right: 1.25rem;
				margin-top: 2.5rem;
				border: solid 0.0625rem $camo-green;

				img {
					position: absolute;
					top: -80%;
					right: -35%;
				}
				
			}
		}
		
  	}
	
	/*::-webkit-input-placeholder { // WebKit, Blink, Edge 
        font-family: AcuminPro, Sans-serif;
		font-size: 22px;
		font-weight: normal;
		line-height: 1.32;
		color: $mud-brown;
		@media screen and (max-width: 27.6875rem) {
			font-size: 1.0625rem;
		}
	}

	:-moz-input-placeholder { // Mozilla Firefox 4 to 18 
	   	font-family: AcuminPro, Sans-serif;
		font-size: 19px;
		font-weight: normal;
		line-height: 1.32;
		color: $mud-brown;
		@media screen and (max-width: 27.6875rem) {
			font-size: 1.0625rem;
		}
	}

	::-moz-input-placeholder { // Mozilla Firefox 19+ 
	   	font-family: AcuminPro, Sans-serif;
		font-size: 1.375rem;
		font-weight: normal;
		line-height: 1.32;
		color: $mud-brown;
		@media screen and (max-width: 27.6875rem) {
			font-size: 1.0625rem;
		}
	}

	:-ms-input-placeholder { // Internet Explorer 10-11 
	   	font-family: AcuminPro, Sans-serif;
		font-size: 1.375rem;
		font-weight: normal;
		line-height: 1.32;
		color: $mud-brown;
		@media screen and (max-width: 27.6875rem) {
			font-size: 1.0625rem;
		}
	}
	*/
  	h1 {
  		width: 25.625rem;
  		margin: 0 auto;
  		margin-top: 7.5rem;
  		font-family: Pacifico;
		font-size: 4rem;
		font-weight: normal;
		text-align: center;
		color: $camo-green;
		@media screen and (max-width: 54.875rem) {
			font-size: 2.5rem;
			width: 17.1875rem;
		}
  	}

  	#text1 {
  		padding-top: 1.25rem;
  		width: 43.75rem;
  		margin: 0 auto;
  		font-family: AcuminPro, Sans-serif;
		font-size: 1.38125rem;
		text-align: center;
		font-weight: normal;
		line-height: 1;
		color: $mud-brown;
		img {
			padding-right: 0.3125rem;
			vertical-align: middle;
		}
  		@media screen and (max-width: 44.6875rem) {
			width: 32.3125rem;
  		}
  		@media screen and (max-width: 33.75rem) {
			width: 90%;
  		}
  	}

  	#text2 {
  		padding-top: 1.25rem;
		width: 43.75rem;
  		margin: 0 auto;
  		font-family: AcuminPro, Sans-serif;
		font-size: 1.38125rem;
		text-align: center;
		font-weight: normal;
		line-height: 1.58;
		color: $mud-brown;
		img {
			padding-right: 0.3125rem;
		}
  		@media screen and (max-width: 44.6875rem) {
			width: 32.3125rem;
  		}
  		@media screen and (max-width: 33.75rem) {
			width: 90%;
  		}
  	}
	
	#log {
		width: 12.4375rem;
		margin: 0 auto;
		#logo {
  			margin-top: 5%;
  			width: 100%;
  			width: 12.4375rem
  		}	
	}
  		
	#tel {
		padding-top: 1.25rem;
  		font-family: AcuminPro, Sans-serif;
		font-size: 2.6875rem;
		font-weight: bold;
		text-align: center;
		color: $desert;
		@media screen and (max-width: 54.875rem) {
			font-size: 2.55625rem;
		}
  	}

	#mail {
		padding-top: 1.25rem;
		font-family: AcuminPro, Sans-serif;
		font-size: 1.25rem;
		font-weight: normal;
		text-align: center;
	    font-weight: bold;
		color: #4d2b24;
		@media screen and (max-width: 54.875rem) {
			font-size: 1.125rem;
		}
	}

	#address {
		margin-top: 0.625rem;
		font-family: AcuminPro, Sans-serif;
		font-size: 1.15625rem;
		font-weight: normal;
		text-align: center;
		color: $camo-green;
		@media screen and (max-width: 54.875rem) {
			font-size: 1.08125rem;
		}
	}

	#nav {
		width: 13.75rem;
		height: 5rem;
		margin: 0 auto;
		list-style-type: none;
		padding: 0;

		li {
				width: 3.625rem;
				height: 3.625rem;
				float: left;
		}

		.margin-left {
			margin-left: 1.4375rem;
		}

		a {
			display: block;
			padding-top: 0.625rem;
			text-decoration:none;
	  	}

	}

	#land-div {
		width: 100%;
		height: 15.75rem;
		background-image: url(/images/assets/tierra-footer@3x.png); 
		background-size: 100%;
		background-repeat: no-repeat;
		@media screen and (min-width: 90rem) {
            width: 90rem;
            margin: 0 auto;
        }
		@media screen and (max-width: 37.5rem) {
			background-size: 140% 100%;
			background-position: top;
			height: 8.125rem;
		}
		@media screen and (min-width: 80rem) {
			height: 18.75rem;
		}
	}
	
	#fill-15 {
  		position: absolute;
  		left: 10%;
  	    bottom: 26%;
  		width: 3.5375rem;
  		height: 6.3875rem;
  		@media screen and (max-width: 55rem) {
			display: none;
  		}
  	}

  	#fill-16 {
  		position: absolute;
  		left: 22%;
  		bottom: 0;
  		width: 4.15625rem;
  		height: 3.8625rem;
  		-ms-transform: rotate(270deg); /* IE 9 */
    	-webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    	transform: rotate(270deg);
    	@media screen and (max-width: 55rem) {
			display: none;
  		}
  	}

  	#fill-17 {
  		position: absolute;
  		width: 1.70625rem;
  		height: 2.5875rem;
		right: 21.875rem;
		bottom: 42.5rem;
		@media screen and (max-width: 55rem) {
			display: none;
  		}
  	}

  	#fill-18 {
  		position: absolute;
  		right: 8.75rem;
  		bottom: 21.875rem;
  		@media screen and (max-width: 55rem) {
			display: none;
  		}
  	}

  	#fill-19 {
		position: absolute;
  		left: 18.75rem;
  		bottom: 43.75rem;
		@media screen and (max-width: 55rem) {
			display: none;
  		}
  	}
  	
}