#sec7 {
  
	position: relative;
	width: 100%;
	height: 100rem;
	object-fit: contain;
	background-image: url(/images/background/fondo-yogurt-maracuy-sec7.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
	margin-bottom: -30%;
  @media screen and (min-width: 103.125rem) {
        height: 1700px;
  }	
 @media screen and (max-width: $change-sec5) {
      background-image: url(/images/background/fondo-yogurt-maracuy-movil-sec7.png)
  }
  @media screen and (max-width: 76.6875rem) {
      height: 112.5rem;
      margin-bottom: -40%;
  }
  @media screen and (max-width: 69.4375rem) {
      margin-bottom: -40%;
  }
  @media screen and (max-width: 55.0625rem) {
      margin-bottom: 25%;
  }
  @media screen and (max-width: $change) {
      height: 106.25rem;
      margin-bottom: -30%;
  }
  @media screen and (max-width: 41.25rem) {
    height: 1100px;
    margin-bottom: 20%;
  }
  @media screen and (max-width: 34.25rem) {
    height: 1100px;
    margin-bottom: 25%;
  }
  @media screen and (max-width: 22.9375rem) {
    height: 56.25rem;
    margin-bottom: 10%;
  }
  #yogurt-melocoton {
  		width: 35rem;
      margin-top: 25rem;
  		margin-left: 5.0625rem;
  		margin-bottom: -20%;
      @media screen and (min-width: 103.125rem) {
        margin-left: 8.75rem;
      }
      @media screen and (max-width: $change-sec5) {
        margin-top: 12.5rem;
      }
      @media screen and (max-width: 76.6875rem) {
        margin-top: 5rem;
      }
      @media screen and (max-width: 41.25rem) {
        content: url(/images/background/yogurt-melocoton-movil.png);
        display: block;
        margin: 0 auto;        
        padding-top: 11.25rem;
        width: 21.875rem;
        height: auto;
      }
      @media screen and (max-width: 34.25rem) {
        padding-top: 300px;
      }
      @media screen and (max-width: 22.9375rem) {
        width: 18.75rem;
        padding-top: 9.375rem;
      }

    }

  	#yogurt-feijoa {
  		position: absolute;
  		right: 0;
  		margin-right: 9%;
  		bottom: 30%;
      min-width: 18.25rem;
      @media screen and (min-width: 103.125rem) {
        margin-right: 19%;
        bottom: 33%;
      }
      @media screen and (min-width: 137.5rem) {
        bottom: 36%;
      }
      @media screen and (max-width: 76.6875rem) {
        bottom: 28.125rem;
      }
      @media screen and (max-width: 66.5625rem) {
        bottom: 31.25rem;
      } 
      @media screen and (max-width: 41.25rem) {
          position: relative;
          display: block;
          float: none;
          content: url(/images/background/yogurt-feijoa-movil.png);
          width: 20.9375rem;
          height: auto;
          margin: 0 auto;
          padding-top: 12.5rem;
          margin-top: 25rem;

      }
      @media screen and (max-width: 22.9375rem) {
          width: 18.75rem;
          padding-top: 12.5rem;
      }
    }
	
  	.mancha {
  		position: absolute;
      @media screen and (max-width: $change-sec5) {
        display: none;
      }

  	}

  	#mancha-lateral {
      width: 32.3%;
		  left: 0;
		  margin-top: -10%;
      @media screen and (max-width: 76.6875rem) {
        margin-top: -40%;
      }
  	}

  	#mancha-lateral2 {
      width: 23%;
  		right: 0;
  		top: -15%;
  	}

  	#mancha-lateral3 {
  		width: 18.5%;
      right: 0;
  		bottom: 35%;
      @media screen and (max-width: 76.6875rem) {
        bottom: 30%;
      }
  	}
}