footer div.terminos span a{
	color: #ffffff;
}

section#detalle .container .publicidades figure.publi .titulo-publi span, section#formulario .container .publicidades figure.publi .titulo-publi span {
	color: #ccc;
	font-size: 0.7em;
	text-transform: uppercase;
}

section#formulario .container .publicidades div.row {
	padding: 0;
}

@media screen and (min-width: 1024px) {
	section#detalle .container .aside, section#formulario .container .aside {
		padding-left: 0;
	}
}

section#home .container .publicidades figure .titulo-publi, section#detalle .container .publicidades figure.publi .titulo-publi, section#formulario .container .publicidades figure.publi .titulo-publi {
	min-width: 302px;
	border-top: 1px solid #00b3c7;
	border-left: 1px solid #00b3c7;
	border-right: 1px solid #00b3c7;
}

section#detalle .container .publicidades figure, section#formulario .container .publicidades figure {
	display: inline-block;
}

#sas_9344 {
	min-width: 302px;
	max-height: 252px;
	border: 1px solid #00b3c7;
}

#sas_9611, #sas_9608, #sas_11772{
	min-width: 302px;
	max-height: 102px;
	border: 1px solid #00b3c7;
}

@media screen and (min-width: 768px){

	#sas_9611, #sas_9608, #sas_11772, #sas_9344, section#detalle .container .publicidades figure.publi .titulo-publi, section#formulario .container .publicidades figure.publi .titulo-publi{
		max-width: 302px;
	}

}

@media screen and (max-width: 767px){

	#sas_9611, #sas_9608, #sas_11772, #sas_9344, section#detalle .container .publicidades figure.publi .titulo-publi, section#formulario .container .publicidades figure.publi .titulo-publi{
		max-width: 302px;
	}

	section#home .container .publicidades figure, section#detalle .container .publicidades figure, section#formulario .container .publicidades figure {
		max-width: 300px !important;
	}

	section#detalle .container .publicidades, section#formulario .container .publicidades {
		text-align: center;
	}

}

#afbd_4321859m {
	top: 50px !important;
}

section#home .container .publicidades figure {
	max-width: 300px !important;
}

#sas_8941 {
	bottom: 0;
	left: 50%;
	position: fixed;
	-webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.marcas figure:first-child + figure + figure, .marcas-mobile figure:first-child{
	position: relative;
	top: -4px;
}

.marcas figure:first-child + figure + figure, .marcas-mobile figure:first-child + figure{
	position: relative;
	top: -1px;
}

.marcas figure:first-child + figure + figure, .marcas-mobile figure:first-child + figure + figure{
	position: relative;
	top: 5px;
}

/*
"Fix" by ivan@simian.co on Apr 21 2015
Here we're making sure the "Banderole" (cool name, BTW)
is a little bit higher on the page.
*/
#afbd_4207246m {
  top: 70px !important;
}

/*
"Fix" by nicolas@simian.co on Apr 28 2015
Here we're making sure the images don't 'break' the carousel.
*/
#slider-marcas .slider-marcas img {
	max-height: 73px;
	max-width: 132px;
}

@media (max-width: 768px) {
	#slider-marcas .slider-marcas img {
		max-height: 55px;
	}
}

@media (max-width: 400px) {
	#slider-marcas .slider-marcas img {
		max-height: 40px;
	}
}

#slide-marcas img {
	max-height: 61px;
	max-width: 110px;
	width: auto !important;
}

@media (max-width: 768px) {
	#footer_main .social {
		bottom: -45px !important;
		left: inherit !important;
		position: relative !important;
		text-align: center;
	}
}

#first-slider h1 {
	color: #00b6c9;
	font-size: 1.313em;
	margin: 10px 0;
}

#first-slider h1 b {
	font-family: "Conv_MyriadPro-Bold";
}

@media screen and (min-width: 1216px) {
	#first-slider {
		display: none;
	}
}

@media screen and (max-width: 1216px) {
	#formulario .container .aside h1 {
		display: none;
	}
}


