body { 
  background: url("../../img/pagina_404_bk.jpg") repeat;
  margin: 0 auto;
  width: 100%;
  background-size: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-feature-settings: inherit;
    font-language-override: inherit;
    font-kerning: inherit;
    font-synthesis: inherit;
    font-variant: inherit;
    font-size: 100%;
}
.main-logo-LoE-404 {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  top: 70px;
}
.main-logo-LoE-404 img {
  margin: 0 auto;
  display: block;
}
.principal-content {
  width: 100%;
  margin: 0 auto;
}
.principal-content img {
  width: 90%;
}
.main-menu-LoE-404 {
  width: 100%;
  max-width: 950px;
  margin: 0px auto 20px auto;
  padding: 20px 10px;
  background-color: rgba(0,0,0,0.4) !important;
  background: #696969;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
}
.title-menu-LoE-404 {
  text-align: center;
  font-family: roboto, arial;
  font-size: 23px;
  color: #414141;
  margin: 10px 0 20px 0;
}
.subcategorie-list-LoE-404 {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  margin: 10px 8px;
}
.subcategorie-list-LoE-404 li a {
  font-size: 14px;
  color: #0a0a0a;
  text-decoration: none;
  font-family: roboto-bold, arial;
}
.subcategorie-list-LoE-404 li a:hover {
  color: #7EE90B;
}
.subcategorie-list-LoE-404 li.title-list-LoE-404 {
  border-bottom: solid thin #fff;
  border-style: dotted;
  background: url("../img/ok-title.png") 0px 0px no-repeat;
  padding: 0 18px;
}
.tipe-product-list-LoE-404 {
  list-style: none;
}
.tipe-product-list-LoE-404 li a {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  font-family: roboto, arial;
  padding: 0 0 0 18px;
}
.tipe-product-list-LoE-404 li a:hover {
  text-decoration: underline;
  color: #7EE90B;
}
.principal-content-720 {
  display: none;
}
.principal-content-420 {
  display: none;
}
.button_back_404 {
  margin: 30px auto;
  width: 280px;
  height: 30px;
  text-align: center;
}
.button_back_404 a {
  background: #b5c420;
  border-radius: 10px;
  display: block;
  height: 30px;
  padding: 9px 20px 0;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  border-bottom: solid 4px #4c5212;
  text-decoration: none;
}
.button_back_404 a:hover {
  position: relative;
  top: 3px;
  border-bottom: solid 2px #4c5212;
}
@media screen and (max-width: 720px) {
  .principal-content {
    display: none;
  }
  .principal-content-720 {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  .principal-content-720 img {
    width: 90%;
  }
  .main-logo-LoE-404 {
    position: relative;
    margin: 0 auto;
    width: 100%;
    top: 15px;
  }
  .main-logo-LoE-404 img {
    margin: 0 auto;
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .principal-content-720 {
  display: none;
  }
  .principal-content-420 {
    width: 100%;
    margin: 0 auto;
    display: block; 
  }
  .principal-content-420 img {
    width: 100%;
  }
  .main-menu-LoE-404 {
    margin: 0 auto;
      width: 72%;
  }
  .subcategorie-list-LoE-404 {
    display: block;
    vertical-align: top;
    list-style: none;
    margin: 10px 20px;
  }
}


