@charset "CP850";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Conv_MyriadPro-Bold';
  src: url("../fonts/Myriad/Pro/Bold/MyriadPro-Bold.eot");
  src: local("☺"), url("../fonts/Myriad/Pro/Bold/MyriadPro-Bold.woff") format("woff"), url("../fonts/Myriad/Pro/Bold/MyriadPro-Bold.ttf") format("truetype"), url("../fonts/Myriad/Pro/Bold/ MyriadPro-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_MyriadPro-Regular';
  src: url("../fonts/Myriad/Pro/Regular/MyriadPro-Regular.eot");
  src: local("☺"), url("../fonts/Myriad/Pro/Regular/MyriadPro-Regular.woff") format("woff"), url("../fonts/Myriad/Pro/Regular/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/Myriad/Pro/Regular/MyriadPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_MyriadPro-Cond';
  src: url("../fonts/Myriad/Pro/Cond/MyriadPro-Cond.eot");
  src: local("☺"), url("../fonts/Myriad/Pro/Cond/MyriadPro-Cond.woff") format("woff"), url("../fonts/Myriad/Pro/Cond/MyriadPro-Cond.ttf") format("truetype"), url("../fonts/Myriad/Pro/Cond/MyriadPro-Cond.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/** Generated by FG **/
@font-face {
  font-family: 'Conv_MyriadPro-CondIt';
  src: url("../fonts/Myriad/Pro/Cond_it/MyriadPro-CondIt.eot");
  src: local("☺"), url("../fonts/Myriad/Pro/Cond_it/MyriadPro-CondIt.woff") format("woff"), url("../fonts/Myriad/Pro/Cond_it/MyriadPro-CondIt.ttf") format("truetype"), url("../fonts/Myriad/Pro/Cond_it/MyriadPro-CondIt.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 15, ../sass/errores.scss */
body {
  background: url(../img/bg.png) repeat;
}

/* line 18, ../sass/errores.scss */
.conbg {
  background: none;
  background-color: #c4caca;
}
/* line 21, ../sass/errores.scss */
.conbg .section {
  background: url(../img/fondo_503.jpg) center no-repeat;
}
/* line 23, ../sass/errores.scss */
.conbg .section .container {
  background: none;
  background-color: transparent;
  box-shadow: none;
}
/* line 27, ../sass/errores.scss */
.conbg .section .container h1 {
  margin-bottom: 310px;
}

/* line 33, ../sass/errores.scss */
a.boton {
  background: url(../img/bg-btn-leermas.jpg) top left no-repeat;
  color: white;
  display: block;
  font-size: 0.938em;
  height: 35px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 150px;
}
/* line 45, ../sass/errores.scss */
a.boton b {
  font-family: "Conv_MyriadPro-Bold";
}
/* line 48, ../sass/errores.scss */
a.boton:hover {
  text-decoration: none;
}

/* line 52, ../sass/errores.scss */
.header {
  background-color: #f4f4f4;
  border-bottom: 1px solid #e1e1e1;
  padding: 10px 0;
}
/* line 56, ../sass/errores.scss */
.header img {
  display: block;
  margin: 0 auto;
  vertical-align: top;
}

/* line 62, ../sass/errores.scss */
.section {
  font-family: "Conv_MyriadPro-Regular";
  text-align: center;
}
/* line 65, ../sass/errores.scss */
.section .container {
  background-color: white;
  box-shadow: 0px 3px 3px #888888;
}
/* line 68, ../sass/errores.scss */
.section .container h1 {
  color: #00b6c9;
  margin: 10px;
  margin-bottom: 50px;
  text-transform: uppercase;
}
/* line 73, ../sass/errores.scss */
.section .container h1 b {
  font-family: "Conv_MyriadPro-Bold";
}
/* line 77, ../sass/errores.scss */
.section .container h2 {
  color: #00b6c9;
  font-family: "Conv_MyriadPro-Bold";
  font-size: 1.875em;
  text-transform: uppercase;
}
/* line 84, ../sass/errores.scss */
.section .container span.numb {
  color: #00b6c9;
  font-family: "Conv_MyriadPro-Bold";
  font-size: 7.938em;
  line-height: 78px;
}
/* line 91, ../sass/errores.scss */
.section .container p {
  color: #1f1f1f;
  font-size: 1.313em;
  margin: 30px 0;
}
