@media screen and (max-width: 767px){
	article .info h2 {
		width: 70%;
	}
}


#slide-publi .owl-wrapper .owl-item .item .publi-content .titulo-publicidad {
	min-width: 302px;
}

#sas_9608, #sas_9611, #sas_11772 {
	max-width: 302px;
	max-height: 102px;
	border: 1px solid #00b3c7;
	margin: 0 auto;
}

section.wrapp div.banner {
	left: 0;
	right: 0;
}

.banner a img {
	width: inherit;
}

header .container .head .marcas{
	margin-top: 0;
}

footer div.container div.sponsor div.marcas-mobile figure img{
	width: 100%;
}

.share {
	left: 0;
	position: fixed;
}

.container.pauta div.row {
	margin-left: -15px;
	margin-right: -15px;
}

.container.pauta div.row .img-publi {
	display: inline-block;
	float: left;
}

#sas_12803 {
	float: left;
}

@media screen and (max-width: 1024px) {
  .img-publi {
    display: none !important;
    float: none;
  }
}

.container.pauta h3 {
  display: none;
}

@media screen and (max-width: 767px){
	div.pauta h3{
		max-width: 300px;
		margin: 0 auto;
	}

	#sas_12803 {
		float: none;
	}

	#sas_12803 > div{
		text-align: center;
	}

	section.wrapp .container .row .no-destacados ul li article .info h2 {
		word-wrap: break-word;
	}

}

@media screen and (max-width: 1024px) {
  .container.pauta h3 {
    display: block;
    background-color: #ffffff;
    border-top: 1px solid #d8d5d5;
    border-right: 1px solid #d8d5d5;
    border-left: 1px solid #d8d5d5;
    padding-left: 5px;
    color: #ccc;
    font-size: 0.75em;
    text-transform: uppercase;
  }
}

#redireccion section div.container div.row div.col-lg-12 p a {
	word-wrap: break-word;
}