@import 'bourbon';
/* Color palette */

$light-tan-42: rgba(249, 234, 195, 0.42);
$light-mustard: #f7da5a;
$pinkish-grey: #c9a9a4;
$light-maroon: #95444d;
$rosy-pink: #f15f7c;
$lightblue-two: #5cbdf4;
$beige: #e2d1a8;
$white: #fcfcfc;
$desert: #d1b54a;
$faded-orange: #f58651;
$camo-green: #4d2b24;
$milk-chocolate: #876421;
$beige-three: #eedcae;
$mud-brown: #553408;
$lipstick: #da293f;
$putty: #c3b58f;
$pale-purple: #d19dd3;
$dark-green-blue: #2a7557;
$dirty-purple: #473a4c;
$dusty-orange: #ef8732;
$wheat: #f9d777;
$cool-blue: #507cc0;
$lightblue: #64ccf1;
$turtle-green: #67c15e;
$macaroni-and-cheese: #e0b83d;
$white-two: #ffffff;
$beige-four: #f0e3c3;
$white-three: #e5e3e3;
$beige-two: #f9f4e9;
$light-khaki: #f8f0d7;
$purplish-grey: #7d6c83;
$leather: #b1953b;
$milk-chocolate-two: #543019;
$squash: #f38f1c;
$milk-chocolate-three: #533019;
$nasty-green: #79a341;
$dull-brown: #87744b;
$mud-brown-two: #553308;
$wheat-two: #ffd488;
$beige-five: #e5d2a2;
$milk-chocolate-82: rgba(135, 100, 33, 0.82);

/* Text styles */

.Estilo-prrafo-general {
  font-family: AcuminPro;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.32;
  text-align: center;
  color: $mud-brown;
}

.Estilo-sub-ttulo {
  font-family: AcuminPro;
  font-size: 22px;
  font-weight: bold;
  text-align: right;
  color: $mud-brown;
}

//Some varieble for responsive
$change: 60.5rem;
$change-sec4: 71.375rem;
//$change-sec5: 1169px;
$change-sec5: 61.0625rem;