@import 'variables';
@import '../scss/header';
@import '../scss/sec2';
@import '../scss/sec3';
@import '../scss/sec4';
@import '../scss/sec5';
@import '../scss/sec6';
@import '../scss/sec7';
@import '../scss/sec8';
@import '../scss/footer';