/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
.main {
  font-family: 'uni_sansthin_caps', sans-serif;
  margin: 0 auto;
  width: 300px;
  height: 250px;
  background-color: #73c1c7;
}
/* line 20, ../sass/screen.scss */
.main .logo {
  padding-top: 6px;
}
/* line 22, ../sass/screen.scss */
.main .logo img {
  display: block;
  max-width: 100%;
  height: 50px;
  margin: 0 auto;
}
/* line 30, ../sass/screen.scss */
.main div.contenedor {
  position: relative;
}
/* line 32, ../sass/screen.scss */
.main div.contenedor .start-day {
  display: block;
  position: absolute;
  color: #FFF;
  background-color: #e54647;
  padding: 15px 10px;
  border: 0;
  border-radius: 50%;
  text-transform: uppercase;
  top: -42px;
  left: 2px;
  text-align: center;
  font-size: 0.5rem;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
  z-index: 0;
}

.main div.contenedor .start-day .second-line {
  display: block;
  font-size: 0.75rem;
  font-family: "uni_sansheavy_caps", sans-serif;
}

.main div.contenedor .start-day .third-line {
  display: block;
  font-size: 1rem;
  font-family: "uni_sansheavy_caps", sans-serif;
}

.main div.contenedor .offer-popup {
  display: block;
  position: absolute;
  color: #DF4365;
  background-color: #fceb40;
  padding: 22px 9px;
  border: 0;
  border-radius: 50%;
  text-transform: uppercase;
  top: -40px;
  right: 2px;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
  z-index: 0;
  font-family: "uni_sansheavy_caps", sans-serif;
}

.main div.contenedor .offer-popup .second-line {
  display: block;
  color: #78BFC6;
  font-size: 8px;
}

/* line 43, ../sass/screen.scss */
.main div.contenedor .start-day:after {
  content: '';
  display: block;
  position: absolute;
  top: 47px;
  left: 56px;
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 0 0 14px;
  border-color: transparent transparent transparent #e54647;
  /*box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);*/
  z-index: -1;
}

.main div.contenedor .start-day:before {
  content: '';
  display: block;
  position: absolute;
  top: 47px;
  left: 56px;
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 0 0 15px;
  border-color: transparent transparent transparent rgba(0,0,0,0.2);
  z-index: -1;
}

.main div.contenedor .offer-popup:after {
  content: '';
  display: block;
  position: absolute;
  top: 50px;
  left: 0px;
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 16px 14px;
  border-color: transparent transparent #fceb40 transparent;
  /*box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);*/
  z-index: -1;
}

.main div.contenedor .offer-popup:before {
  content: '';
  display: block;
  position: absolute;
  top: 52px;
  left: -1px;
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 17px 15px;
  border-color: transparent transparent rgba(0,0,0,0.2) transparent;
  z-index: -1;
}
/* line 55, ../sass/screen.scss */
.main div.contenedor div.countdown {
  width: 225px;
  height: 75px;
  background-color: #e64667;
  margin: 0 auto;
  margin-top: 35px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
}
/* line 68, ../sass/screen.scss */
.main div.contenedor div.countdown .items-time {
  overflow: hidden;
  margin: 0 auto;
  width: 175px;
}

.main div.contenedor div.countdown .items-time span.item {
  font-size: 25px;
  display: block;
  float: left;
  width: 28px;
  color: #fff100;
  margin: 0 7px;
}
/* line 79, ../sass/screen.scss */
.main div.contenedor div.countdown .items-description {
  position: relative;
  top: -4px;
}
/* line 82, ../sass/screen.scss */
.main div.contenedor div.countdown .items-description {
  overflow: hidden;
  margin: 0 auto;
  width: 175px;
}

.main div.contenedor div.countdown .items-description span.item {
  color: #ffffff;
  font-size: 11px;
  display: block;
  float: left;
  width: 28px;
  margin: 13px 7px 0;
}
/* line 94, ../sass/screen.scss */
.main div.contenedor p {
  margin: 22px 5px 2px;
  color: #ffffff;
  font-size: 12px;
}
/* line 102, ../sass/screen.scss */
.main div.contenedor .form {
  margin: 10px 0;
  padding: 0 10px;
}
/* line 107, ../sass/screen.scss */
.main div.contenedor .form form input[type="text"] {
  width: 165px;
  height: 28px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  float: left;
  font-family: sans-serif;
}
/* line 117, ../sass/screen.scss */
.main div.contenedor .form form input[type="submit"] {
  background-color: #fff100;
  border: 0;
  color: #e74768;
  height: 27px;
  font-size: 14px;
  margin-left: 10px;
  padding: 0 10px;
  text-transform: uppercase;
  font-family: "uni_sansheavy_caps", sans-serif;
}
/* line 131, ../sass/screen.scss */
.main div.contenedor .legals p {
  font-size: 7.75px;
  color: #ffffff;
  text-transform: uppercase;
}
/* line 134, ../sass/screen.scss */
.main div.contenedor .legals p a {
  color: #CF5473;
  text-decoration: underline;
}

/* FONTS */
@font-face {
  font-family: 'SohoStdCondensed';
  src: url("../font/sohostd-condensed.eot");
  src: url("../font/sohostd-condensed.eot") format("embedded-opentype"), url("../font/sohostd-condensed.woff2") format("woff2"), url("../font/sohostd-condensed.woff") format("woff"), url("../font/sohostd-condensed.ttf") format("truetype"), url("../font/sohostd-condensed.svg#SohoStdCondensed") format("svg");
}

@font-face {
  font-family: 'uni_sansheavy_caps';
  src: url('../font/uni-sans-heavy-webfont.eot');
  src: url('../font/uni-sans-heavy-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/uni-sans-heavy-webfont.woff2') format('woff2'),
       url('../font/uni-sans-heavy-webfont.woff') format('woff'),
       url('../font/uni-sans-heavy-webfont.ttf') format('truetype'),
       url('../font/uni-sans-heavy-webfont.svg#uni_sansheavy_caps') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'uni_sansthin_caps';
  src: url('../font/uni-sans-thin-webfont.eot');
  src: url('../font/uni-sans-thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/uni-sans-thin-webfont.woff2') format('woff2'),
       url('../font/uni-sans-thin-webfont.woff') format('woff'),
       url('../font/uni-sans-thin-webfont.ttf') format('truetype'),
       url('../font/uni-sans-thin-webfont.svg#uni_sansthin_caps') format('svg');
  font-weight: normal;
  font-style: normal;
}