@font-face {
  font-family: 'proxima_nova_altsemibold';
  src: url("../fonts/Proxima Nova/Semibold/mark_simonson_-_proxima_nova_alt_semibold-webfont.eot");
  src: url("../fonts/Proxima Nova/Semibold/mark_simonson_-_proxima_nova_alt_semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima Nova/Semibold/mark_simonson_-_proxima_nova_alt_semibold-webfont.woff") format("woff"), url("../fonts/Proxima Nova/Semibold/mark_simonson_-_proxima_nova_alt_semibold-webfont.ttf") format("truetype"), url("../fonts/Proxima Nova/Semibold/mark_simonson_-_proxima_nova_alt_semibold-webfont.svg#proxima_nova_altsemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url("../fonts/Proxima Nova/Regular/mark_simonson_-_proxima_nova_regular-webfont.eot");
  src: url("../fonts/Proxima Nova/Regular/mark_simonson_-_proxima_nova_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima Nova/Regular/mark_simonson_-_proxima_nova_regular-webfont.woff") format("woff"), url("../fonts/Proxima Nova/Regular/mark_simonson_-_proxima_nova_regular-webfont.ttf") format("truetype"), url("../fonts/Proxima Nova/Regular/mark_simonson_-_proxima_nova_regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_alt_rgbold';
  src: url("../fonts/Proxima Nova/Bold/mark_simonson_-_proxima_nova_alt_bold-webfont.eot");
  src: url("../fonts/Proxima Nova/Bold/mark_simonson_-_proxima_nova_alt_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima Nova/Bold/mark_simonson_-_proxima_nova_alt_bold-webfont.woff") format("woff"), url("../fonts/Proxima Nova/Bold/mark_simonson_-_proxima_nova_alt_bold-webfont.ttf") format("truetype"), url("../fonts/Proxima Nova/Bold/mark_simonson_-_proxima_nova_alt_bold-webfont.svg#proxima_nova_alt_rgbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'antoniolight';
  src: url("../fonts/Antonio/Light/antonio-light-webfont.eot");
  src: url("../fonts/Antonio/Light/antonio-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Antonio/Light/antonio-light-webfont.woff") format("woff"), url("../fonts/Antonio/Light/antonio-light-webfont.ttf") format("truetype"), url("../fonts/Antonio/Light/antonio-light-webfont.svg#antoniolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'akzidenz-grotesk_bq_superRg';
  src: url("../fonts/akzidenz/akzidenzgrotesk-super-webfont.eot");
  src: url("../fonts/akzidenz/akzidenzgrotesk-super-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/akzidenz/akzidenzgrotesk-super-webfont.woff") format("woff"), url("../fonts/akzidenz/akzidenzgrotesk-super-webfont.ttf") format("truetype"), url("../fonts/akzidenz/akzidenzgrotesk-super-webfont.svg#akzidenz-grotesk_bq_superRg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'akzidenz-grotesk_bqregular';
  src: url("../fonts/akzidenz/akzidenzgrotesk-regular-webfont.eot");
  src: url("../fonts/akzidenz/akzidenzgrotesk-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/akzidenz/akzidenzgrotesk-regular-webfont.woff") format("woff"), url("../fonts/akzidenz/akzidenzgrotesk-regular-webfont.ttf") format("truetype"), url("../fonts/akzidenz/akzidenzgrotesk-regular-webfont.svg#akzidenz-grotesk_bqregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
