/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'proxima_nova_altsemibold';
  src: url("../fonts/Proxima Nova/Semibold/mark_simonson_-_proxima_nova_alt_semibold-webfont.eot");
  src: url("../fonts/Proxima Nova/Semibold/mark_simonson_-_proxima_nova_alt_semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima Nova/Semibold/mark_simonson_-_proxima_nova_alt_semibold-webfont.woff") format("woff"), url("../fonts/Proxima Nova/Semibold/mark_simonson_-_proxima_nova_alt_semibold-webfont.ttf") format("truetype"), url("../fonts/Proxima Nova/Semibold/mark_simonson_-_proxima_nova_alt_semibold-webfont.svg#proxima_nova_altsemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url("../fonts/Proxima Nova/Regular/mark_simonson_-_proxima_nova_regular-webfont.eot");
  src: url("../fonts/Proxima Nova/Regular/mark_simonson_-_proxima_nova_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima Nova/Regular/mark_simonson_-_proxima_nova_regular-webfont.woff") format("woff"), url("../fonts/Proxima Nova/Regular/mark_simonson_-_proxima_nova_regular-webfont.ttf") format("truetype"), url("../fonts/Proxima Nova/Regular/mark_simonson_-_proxima_nova_regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_alt_rgbold';
  src: url("../fonts/Proxima Nova/Bold/mark_simonson_-_proxima_nova_alt_bold-webfont.eot");
  src: url("../fonts/Proxima Nova/Bold/mark_simonson_-_proxima_nova_alt_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima Nova/Bold/mark_simonson_-_proxima_nova_alt_bold-webfont.woff") format("woff"), url("../fonts/Proxima Nova/Bold/mark_simonson_-_proxima_nova_alt_bold-webfont.ttf") format("truetype"), url("../fonts/Proxima Nova/Bold/mark_simonson_-_proxima_nova_alt_bold-webfont.svg#proxima_nova_alt_rgbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'antoniolight';
  src: url("../fonts/Antonio/Light/antonio-light-webfont.eot");
  src: url("../fonts/Antonio/Light/antonio-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Antonio/Light/antonio-light-webfont.woff") format("woff"), url("../fonts/Antonio/Light/antonio-light-webfont.ttf") format("truetype"), url("../fonts/Antonio/Light/antonio-light-webfont.svg#antoniolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 10, ../sass/screen--.scss */
body {
  overflow-x: hidden;
}

/* line 13, ../sass/screen--.scss */
.fix {
  clear: both;
}

/* line 17, ../sass/screen--.scss */
.linea-color div {
  height: 2px;
}
/* line 19, ../sass/screen--.scss */
.linea-color div.azul {
  background-color: #6dcbe5;
}
/* line 20, ../sass/screen--.scss */
.linea-color div.amarillo {
  background-color: #fdd850;
}
/* line 21, ../sass/screen--.scss */
.linea-color div.naranja {
  background-color: #ee6130;
}
/* line 22, ../sass/screen--.scss */
.linea-color div.marron {
  background-color: #97171f;
}

/* line 25, ../sass/screen--.scss */
button {
  background-color: #ccc;
}
/* line 27, ../sass/screen--.scss */
button span {
  background-color: black;
}

@media screen and (max-width: 768px) {
  /* line 34, ../sass/screen--.scss */
  header .container .row .col-md-8 {
    padding: 0px;
  }
}
/* line 38, ../sass/screen--.scss */
header .container .row .col-md-8 figure {
  margin-top: 6px;
  width: 345px;
}
@media screen and (max-width: 768px) {
  /* line 38, ../sass/screen--.scss */
  header .container .row .col-md-8 figure {
    margin-top: 14px;
    width: 245px;
  }
}
/* line 45, ../sass/screen--.scss */
header .container .row .col-md-8 figure a {
  display: block;
  text-indent: -9999em;
}
/* line 48, ../sass/screen--.scss */
header .container .row .col-md-8 figure a img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 55, ../sass/screen--.scss */
  header .container .row .col-md-4 {
    padding: 0px;
  }
}
/* line 60, ../sass/screen--.scss */
header .container .row .col-md-4 .navbar-right ul {
  display: inline-block;
  float: right;
  padding-top: 13px;
}
@media screen and (max-width: 768px) {
  /* line 60, ../sass/screen--.scss */
  header .container .row .col-md-4 .navbar-right ul {
    padding-top: 4px;
  }
}
/* line 67, ../sass/screen--.scss */
header .container .row .col-md-4 .navbar-right ul li {
  display: inline-block;
  padding: 5px 20px;
  text-align: center;
  vertical-align: top;
}
@media screen and (max-width: 992px) {
  /* line 67, ../sass/screen--.scss */
  header .container .row .col-md-4 .navbar-right ul li {
    padding: 5px 6px;
  }
}
@media screen and (max-width: 768px) {
  /* line 67, ../sass/screen--.scss */
  header .container .row .col-md-4 .navbar-right ul li {
    padding: 5px 11px;
  }
}
@media screen and (max-width: 768px) {
  /* line 79, ../sass/screen--.scss */
  header .container .row .col-md-4 .navbar-right ul li:nth-child(2) {
    display: none;
  }
}
/* line 83, ../sass/screen--.scss */
header .container .row .col-md-4 .navbar-right ul li:first-child {
  border-right: 1px solid #e2e2e2;
}
/* line 86, ../sass/screen--.scss */
header .container .row .col-md-4 .navbar-right ul li a {
  display: block;
  text-indent: -9999em;
  width: 100%;
}
/* line 91, ../sass/screen--.scss */
header .container .row .col-md-4 .navbar-right ul li span {
  color: #7d7d7d;
  display: block;
  font-family: 'Trebuchet MS';
  font-size: 0.652em;
  margin-bottom: 5px;
}
/* line 98, ../sass/screen--.scss */
header .container .row .col-md-4 .navbar-right ul li figure {
  background: url(../img/iconos.png) -41px -52px no-repeat;
  height: 20px;
  width: 116px;
}
/* line 104, ../sass/screen--.scss */
header .container .row .col-md-4 .navbar-right ul li .social .fb, header .container .row .col-md-4 .navbar-right ul li .social .tw {
  display: inline-block;
  margin: 4px 6px;
}
/* line 108, ../sass/screen--.scss */
header .container .row .col-md-4 .navbar-right ul li .social .fb {
  background: url(../img/iconos.png) 0px -50px no-repeat;
  width: 11px;
}
/* line 111, ../sass/screen--.scss */
header .container .row .col-md-4 .navbar-right ul li .social .fb, header .container .row .col-md-4 .navbar-right ul li .social .fb a {
  height: 23px;
}
/* line 115, ../sass/screen--.scss */
header .container .row .col-md-4 .navbar-right ul li .social .tw {
  background: url(../img/iconos.png) -11px -51px no-repeat;
  width: 25px;
}
/* line 118, ../sass/screen--.scss */
header .container .row .col-md-4 .navbar-right ul li .social .tw, header .container .row .col-md-4 .navbar-right ul li .social .tw a {
  height: 19px;
}
/* line 129, ../sass/screen--.scss */
header #slider {
  position: relative;
}
/* line 133, ../sass/screen--.scss */
header #slider #carousel-example-captions .carousel-indicators li {
  background-color: #ee6130;
  border: 1px solid #ee6130;
}
/* line 136, ../sass/screen--.scss */
header #slider #carousel-example-captions .carousel-indicators li.active {
  background-color: white;
}
/* line 143, ../sass/screen--.scss */
header #slider #carousel-example-captions .carousel-inner .item img {
  width: 100%;
}
/* line 149, ../sass/screen--.scss */
header #slider .box-form {
  background: url(../img/bg_form.png) top no-repeat;
  bottom: 0;
  height: 306px;
  padding: 28px;
  position: absolute;
  right: 21%;
  text-align: left;
  width: 279px;
}
@media screen and (max-width: 768px) {
  /* line 149, ../sass/screen--.scss */
  header #slider .box-form {
    display: none;
  }
}
/* line 161, ../sass/screen--.scss */
header #slider .box-form input.text {
  border: 1px solid #b1b1b1;
  margin-bottom: 10px;
  width: 100%;
}
/* line 166, ../sass/screen--.scss */
header #slider .box-form span, header #slider .box-form label {
  display: block;
  font-family: 'proxima_nova_altsemibold';
}
/* line 170, ../sass/screen--.scss */
header #slider .box-form span.title {
  color: #c63909;
  margin-bottom: 10px;
  margin-top: 15px;
}
/* line 175, ../sass/screen--.scss */
header #slider .box-form label {
  color: #ee6130;
  font-size: 0.96em;
  font-weight: bold;
  margin-bottom: 3px;
}
/* line 181, ../sass/screen--.scss */
header #slider .box-form .terminos {
  margin-bottom: 20px;
  margin-top: 5px;
}
/* line 184, ../sass/screen--.scss */
header #slider .box-form .terminos .check, header #slider .box-form .terminos span {
  display: inline-block;
}
/* line 188, ../sass/screen--.scss */
header #slider .box-form .terminos .check input {
  border: 1px solid #ee7449;
}
/* line 193, ../sass/screen--.scss */
header #slider .box-form .terminos span {
  color: #656565;
  font-family: 'Trebuchet MS';
  font-size: 0.7em;
  width: 200px;
}
/* line 198, ../sass/screen--.scss */
header #slider .box-form .terminos span a {
  color: #ee6130;
}
/* line 203, ../sass/screen--.scss */
header #slider .box-form .btn_registro {
  background-color: #ee6130;
  border: 0px;
  color: white;
  display: block;
  font-family: 'proxima_nova_altsemibold';
  padding: 5px 20px;
  margin: auto;
}
/* line 217, ../sass/screen--.scss */
header .menu .row .col-md-8 .collapse {
  border-right: 1px solid #ccc;
}
@media screen and (max-width: 992px) {
  /* line 217, ../sass/screen--.scss */
  header .menu .row .col-md-8 .collapse {
    border-right: 0px;
  }
}
@media screen and (max-width: 992px) {
  /* line 222, ../sass/screen--.scss */
  header .menu .row .col-md-8 .collapse ul {
    margin: 0 50px;
  }
}
@media screen and (max-width: 768px) {
  /* line 222, ../sass/screen--.scss */
  header .menu .row .col-md-8 .collapse ul {
    margin: 0px;
  }
}
@media screen and (max-width: 768px) {
  /* line 231, ../sass/screen--.scss */
  header .menu .row .col-md-8 .collapse ul li:hover {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
}
/* line 236, ../sass/screen--.scss */
header .menu .row .col-md-8 .collapse ul li a {
  color: #646464;
  font-family: 'proxima_nova_altsemibold';
  padding-bottom: 5px;
}
@media screen and (max-width: 1200px) {
  /* line 236, ../sass/screen--.scss */
  header .menu .row .col-md-8 .collapse ul li a {
    font-size: 0.9em;
    padding: 10px 10px;
  }
}
/* line 244, ../sass/screen--.scss */
header .menu .row .col-md-8 .collapse ul li a:hover {
  background-color: transparent;
  color: black;
}
/* line 249, ../sass/screen--.scss */
header .menu .row .col-md-8 .collapse ul li .hover {
  display: none;
  background-color: blue;
  height: 2px;
  width: 100%;
}
@media screen and (max-width: 778px) {
  /* line 249, ../sass/screen--.scss */
  header .menu .row .col-md-8 .collapse ul li .hover {
    visiblity: hidden;
  }
}
/* line 257, ../sass/screen--.scss */
header .menu .row .col-md-8 .collapse ul li .hover .linea-color {
  margin: 0px;
}
/* line 259, ../sass/screen--.scss */
header .menu .row .col-md-8 .collapse ul li .hover .linea-color .col-md-3 {
  padding: 0px;
}

/* line 271, ../sass/screen--.scss */
section {
  margin-top: 25px;
}
/* line 277, ../sass/screen--.scss */
section .container .row .col-md-9 .marcas .publicidad {
  display: inline-block;
  padding: 10px;
  width: 32%;
}
/* line 281, ../sass/screen--.scss */
section .container .row .col-md-9 .marcas .publicidad figure {
  margin: auto;
  text-indent: -9999em;
}
/* line 284, ../sass/screen--.scss */
section .container .row .col-md-9 .marcas .publicidad figure.uno {
  background: url(../img/iconos.png) no-repeat;
  background-position: 0 -74px;
  height: 51px;
  width: 96px;
}
/* line 290, ../sass/screen--.scss */
section .container .row .col-md-9 .marcas .publicidad figure.dos {
  background: url(../img/iconos.png) no-repeat;
  background-position: -220px -49px;
  height: 40px;
  width: 83px;
}
/* line 296, ../sass/screen--.scss */
section .container .row .col-md-9 .marcas .publicidad figure.tres {
  background: url(../img/iconos.png) no-repeat;
  background-position: -161px -49px;
  height: 46px;
  width: 59px;
}
/* line 306, ../sass/screen--.scss */
section .container .row .swiper-container {
  text-align: left !important;
  position: static;
  width: 750px;
}
/* line 310, ../sass/screen--.scss */
section .container .row .swiper-container .arrow-left {
  background: url(../img/left.png) no-repeat left top;
  position: absolute;
  left: 40px;
  top: 41%;
  margin-top: -15px;
  width: 17px;
  height: 35px;
  z-index: 8;
}
/* line 320, ../sass/screen--.scss */
section .container .row .swiper-container .arrow-right {
  background: url(../img/right.png) no-repeat left bottom;
  position: absolute;
  right: 40px;
  top: 41%;
  margin-top: -15px;
  width: 17px;
  height: 35px;
  z-index: 8;
}
/* line 331, ../sass/screen--.scss */
section .container .row .swiper-container .swiper-wrapper .swiper-slide {
  width: 211px !important;
  margin: 0 20px;
}
/* line 334, ../sass/screen--.scss */
section .container .row .swiper-container .swiper-wrapper .swiper-slide:hover {
  text-decoration: none;
}
/* line 339, ../sass/screen--.scss */
section .container .row .swiper-container a {
  text-decoration: none;
}
/* line 342, ../sass/screen--.scss */
section .container .row .swiper-container .noticiaHome {
  display: inline-block;
  position: relative;
  border: 1px solid #6dcbe5;
  font-family: 'proxima_nova_altsemibold';
  white-space: normal;
}
/* line 348, ../sass/screen--.scss */
section .container .row .swiper-container .noticiaHome:hover {
  cursor: pointer;
}
/* line 351, ../sass/screen--.scss */
section .container .row .swiper-container .noticiaHome figure {
  position: relative;
}
/* line 353, ../sass/screen--.scss */
section .container .row .swiper-container .noticiaHome figure img {
  vertical-align: top;
}
/* line 356, ../sass/screen--.scss */
section .container .row .swiper-container .noticiaHome figure .more {
  background-color: #EE6130;
  bottom: 0px;
  height: 24px;
  position: absolute;
  right: 0px;
  width: 25px;
  z-index: 9;
  width: 90px;
}
/* line 365, ../sass/screen--.scss */
section .container .row .swiper-container .noticiaHome figure .more img {
  float: left;
}
/* line 368, ../sass/screen--.scss */
section .container .row .swiper-container .noticiaHome figure .more span {
  color: white;
  display: block;
  font-family: 'proxima_nova_altsemibold';
  font-size: 0.9em;
  margin-top: 5px;
}
/* line 377, ../sass/screen--.scss */
section .container .row .swiper-container .noticiaHome .titulo {
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 17px;
  color: #1d7188;
  line-height: 18px;
}
/* line 386, ../sass/screen--.scss */
section .container .row .swiper-container .noticiaHome .descripcion {
  padding-top: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  color: #202020;
  line-height: 15px;
}
/* line 395, ../sass/screen--.scss */
section .container .row .swiper-container .noticiaHome .over {
  position: absolute;
  top: 0;
  display: none;
}
/* line 402, ../sass/screen--.scss */
section .container .row .parametrosSliderMarcas {
  border: 1px solid #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(80%, #ffffff), color-stop(100%, #d2d2d2));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 80%, #d2d2d2 100%);
  background-image: -moz-linear-gradient(#ffffff, #ffffff 80%, #d2d2d2 100%);
  background-image: -o-linear-gradient(#ffffff, #ffffff 80%, #d2d2d2 100%);
  background-image: linear-gradient(#ffffff, #ffffff 80%, #d2d2d2 100%);
  behavior: url(stylesheets/PIE.htc);
}
/* line 407, ../sass/screen--.scss */
section .container .row .parametrosSliderMarcas .responsive-slider {
  width: 242px;
}
/* line 410, ../sass/screen--.scss */
section .container .row .parametrosSliderMarcas .titulo {
  display: block;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'proxima_nova_altsemibold';
  font-size: 16px;
  color: #1e7188;
}
/* line 419, ../sass/screen--.scss */
section .container .row .parametrosSliderMarcas .marca {
  background: transparent;
  margin: 0px 15px;
  width: 213px;
  height: 80px;
  border-top: 1px solid #e1e1e1;
}
/* line 425, ../sass/screen--.scss */
section .container .row .parametrosSliderMarcas .marca figure {
  float: left;
}
/* line 429, ../sass/screen--.scss */
section .container .row .parametrosSliderMarcas .btnPaginador {
  /*margin-left: 15px;*/
  width: 242px;
  height: 58px;
  background: transparent;
}
/* line 438, ../sass/screen--.scss */
section .container .row .parametrosSliderMarcas ul li .marca:last-child {
  border-bottom: 1px solid #c6c6c6;
}
/* line 445, ../sass/screen--.scss */
section .container .row .banner {
  background-color: transparent;
  bottom: 0px;
  display: block;
  margin: auto;
  position: fixed;
  z-index: 99;
}

/* line 457, ../sass/screen--.scss */
footer {
  margin-top: 45px;
}
/* line 459, ../sass/screen--.scss */
footer .row {
  border-top: 1px solid #232323;
}
/* line 461, ../sass/screen--.scss */
footer .row .sponsor {
  text-align: center;
  padding: 15px;
}
/* line 464, ../sass/screen--.scss */
footer .row .sponsor figure {
  display: inline-block;
  margin-left: 20px;
}
/* line 469, ../sass/screen--.scss */
footer .row.foot {
  background-color: #232323;
  color: white;
  font-family: 'proxima_nova_rgregular';
  font-size: 0.9em;
  padding-bottom: 100px;
}
/* line 477, ../sass/screen--.scss */
footer .row.foot .container .row .map {
  padding-top: 20px;
}
/* line 479, ../sass/screen--.scss */
footer .row.foot .container .row .map span {
  display: block;
  text-align: center;
}
/* line 482, ../sass/screen--.scss */
footer .row.foot .container .row .map span a {
  color: white;
}
/* line 487, ../sass/screen--.scss */
footer .row.foot .container .row .share {
  padding-top: 20px;
}
/* line 490, ../sass/screen--.scss */
footer .row.foot .container .row .share ul li {
  display: inline-block;
}
